body{
    background-color:  #081b29
}
.header-name{
    color: yellow;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 190px;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.4px;

      
}
.front-end-text{
    color: #00abf0;
    font-size: 30px;
}
.bio-container{
    position: relative;
    top: 100px;
    left: 190px;
    width: 800px;
    height: 375px;
    text-indent: left;
    border: 2px solid white;
}
.name{
    color: white;
    font-size: 25px;
    position: relative;

}
.biography{
    color: white;
    font-size: 20px;
}
.github{

}
.old-website{
    width: 225px;
    height: auto;
    background-color: #081b29;
    border: 2px blue;
    color: white;
}
.circle-object{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px;
    object-fit: cover;
    position: relative;
    bottom: 300px;
    left: 900px;
    border:3px solid #00abf0;
}