.navbar {
    background-color:  #081b29;

    overflow: hidden;
    display: flex;
    justify-content: space-around; /* This will space out the nav items evenly */
    width: 450px;
    position: absolute;
    right: 170px;
  }
  .nav-item 
  {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 26px;
    text-decoration: none;
    font-size: 20px;
    /* border: 2px solid white; */

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
  }
  .nav-item:hover{

    color: yellow;


  }
